VITE_SUPABASE_URL = https://dnpxijvjjdokgppqxnap.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRucHhpanZqamRva2dwcHF4bmFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkwNTg2ODAsImV4cCI6MjA3NDYzNDY4MH0.JZoWKFaxUD3pHDbtGCP6UozYhyY4AUC8ResBY1VMfA8